<%inherit file="template.html"/>

<h2>Named DLMon Instances</h2>

##<p>
##Other Formats:
##<ul>
##    % for k,v in data['formats'].items():
##        <li><a href="${v}">${k}</a></li>
##    % endfor
##</ul>
##</p>


Instances:
<ul>
% for instance in data['instances']:
  <li>
    <ul>
      <u>${instance}</u>
      <li><a href="/http/dlmon/instances/${instance}/status.html">Status</a></li>
      <li><a href="/http/dlmon/instances/${instance}/stations.html">Stations</a></li>
      <li><a href="/http/dlmon/instances/${instance}/update.html">Last Update</a></li>
    </ul>
  </li>
% endfor
</ul>
